<!DOCTYPE html>
<html lang = "ro">
	<head>
		<meta charset ="UTF-8">
		<meta name = "keywords" content="biblioteca, carti, citit, Nicolae Balcescu, cultural, lectura, Bacau">
		<meta name = "description" content="Site-ul oficial al biblitecii din Nicolae Bălcescu">
		<meta name = "author" content="Sabău Eduard">
		<link rel="apple-touch-icon" sizes="180x180" href="./resources/icon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./resources/icon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./resources/icon/favicon-16x16.png">
		<link rel="manifest" href="./resources/icon/site.webmanifest">
		<link rel="mask-icon" href="./resources/icon/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="./resources/icon/favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="./resources/icon/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="./resources/layout.css" />
		<script src="./resources/app.js"></script>
		<title>  Biblioteca din Nicolae Bălcescu </title>
	</head>

	<body>
		
		<%- include("../fragmente/header.ejs") %>
		<main>
			
		<h2>Logout</h2>
            <p> V-ati deconectat. </p>
			
		</main>
		
		<%- include("../fragmente/footer.ejs") %>	
		
	</body>
</html>
