<footer id = "subsol">
		<div>
			<address> Bibliotecar: Angela Farcas 
			<br/>
			Telefon: <a href="tel:+40723456789"> 0723456789 </a>
			<br/>
			Adresa: <a href="https://goo.gl/maps/FPgVQ5z29MhrgQei6">Strada Republicii, Sat Nicolae Balcescu, Comuna Nicolae Balcescu, Judet Bacau.</a>
			<br/>
			E-Mail: <a href="mailto:emailfictiv@yahoo.com"> emailfictiv@yahoo.com </a>
			<br/>
			Cod postal: 607355
			<br/>
			Skype: <a href="skype:bibliotecanbc" > bibliotecanbc </a> 
			<br/><br/>
			</address>
			<a href="#start_pagina">Revenire inceputul paginii</a>
		</div>
		<p>
			<small> Copyright by Sabau Eduard. All rights reserved. &copy;
			<br/>
			Acest site a fost creat pe <time datetime="2022-02-15 10:30"> 15 Februarie 2022. </time>
			</small>
		</p>
</footer>